/* these should be appearing in cascading order of the page*/

body{
  background-color: #FFFFFF;
}

header {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  background-image: url("images/flower.jpg");
  background-repeat: repeat;
  background-size: 500px 500px;
  font-size: 20px;
  text-align:center;
  text-shadow: 0px 0px 15px #000;
  color: rgb(235, 231, 231);
}

header p{
  font-size: 16px;
}

h3{
  font-size: 24px;
  text-decoration: underline;
  padding:auto;
}

main{
  font-family:Gill Sans, sans-serif;
  font-size:18px;
  padding:10px
}

div {
  text-align:center;
  padding: 20px
}

article {
  font-size:18px;
  padding:20px;
}

footer{
  background-color: rgb(196, 196, 196);
  text-align:center;
  padding: 10px;
}

/*contact form*/
form {
  padding-right: 10px;
  text-align:left;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 120px;
}

img { max-width: 100% }

/*a couple classes to help with the styling of the main image of the page*/

.image-circle {
    border-radius: 50%; 
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-color {
  background-color: #E0E0E0;
}
  
/*two added classes for flexbox practice, media first flexbox practed included*/
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

@media all and (min-width: 800px) {

  section, h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}


/*finishing off with styled links I am not sure what is not working curently*/
  
  a {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 22px;
}
  a:link {color: #0003C6;}
  a:visited {color:#FA17FE;}
  a:hover {color:#FE1717;}
  a:active{color:green}
  

