/* these should be appearing in cascading order of the page*/

* {
  margin: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0px;
}

.upgrade {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 20px;
  text-align: left;
  text-shadow: 5px 5px 15px #000;
  color: rgb(255, 255, 255);
  position: relative;
  text-emphasis-style: bold;
  margin-top: 0;
}

.upgrade::before {
  content: "";
  background: url("./images/flower.jpg");
  background-repeat: repeat;
  background-size: 500px 500px;
  position: absolute;
  /* opacity: 0.6; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
  padding: auto;
}

main {
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  padding: 10px;
}

div {
  text-align: center;
  padding: 20px;
}

article {
  font-size: 18px;
  padding: 20px;
}

footer {
  background-color: rgb(196, 196, 196);
  text-align: center;
  padding: 10px;
}

/*contact form*/
form {
  padding-right: 10px;
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 120px;
}

img {
  max-width: 100%;
}

/*a couple classes to help with the styling of the main image of the page*/

.image-circle {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-color {
  background-color: #e0e0e0;
}

/*two added classes for flexbox practice, media first flexbox practed included*/
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

@media all and (min-width: 800px) {
  section,
  h1,
  p {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}

/*finishing off with styled links I am not sure what is not working curently*/

a {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 16px;
}

nav {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(240, 146, 210);
}

nav a {
  text-decoration: none;
  color: white;
}
